<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilemy.codechallenge.mapper.NoteMapper">

    <resultMap id="BaseResultMap" type="com.lilemy.codechallenge.model.entity.Note">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="thumbNum" column="thumb_num" jdbcType="INTEGER"/>
            <result property="favourNum" column="favour_num" jdbcType="INTEGER"/>
            <result property="viewNum" column="view_num" jdbcType="INTEGER"/>
            <result property="reviewStatus" column="review_status" jdbcType="INTEGER"/>
            <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
            <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
            <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="isTop" column="is_top" jdbcType="TINYINT"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        tags,picture,thumb_num,
        favour_num,view_num,review_status,
        review_message,reviewer_id,review_time,
        user_id,visible,is_top,
        edit_time,create_time,update_time,
        is_delete
    </sql>
</mapper>
