<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilemy.codechallenge.mapper.QuestionBankQuestionMapper">

    <resultMap id="BaseResultMap" type="com.lilemy.codechallenge.model.entity.QuestionBankQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionBankId" column="question_bank_id" jdbcType="BIGINT"/>
            <result property="questionId" column="question_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,question_bank_id,question_id,
        user_id,create_time,update_time
    </sql>
</mapper>
